/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 1%;
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-color: #babab4;
  border-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
}

img {
  display: block;
  margin: auto;
}

div.header_wrapper{
  align-items: center;
  width: 100%;
  display: flex;
  float: left;
}

div.title{
  flex: 1;
  align-self: center;
}

div.logo{
  flex: 1;
  align-self: center;
}

div.nav_wrapper{
  border-color: #babab4;
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  margin-bottom: 13px;
  width: 100%;
  float: left;
}

ul{
    display: flex;
  }
li{
    align-self: center;
    text-align: center;
    flex: 1;
    text-decoration: none;
    list-style: none;
}

a{
  text-decoration: none;
}

span{
  font-weight: 700;
}

div.photos_wrapper{
  flex: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  float: left;
}

div.post_wrapper{
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  float: left;
}

div.main_wrapper{
  padding: 13px;
  flex: 2;
}

div.image_wrapper{
  padding: 13px;
  flex: 1;
  align-items: center;
}

div.table_wrapper{
  background-image: url("back2.jpg");
  background-attachment: scroll;
  order: 1;
  min-width: 500px;
  flex: 1;
  overflow: scroll;
  height: 600px;
}

article.table_wrapper{
  background-image: url("back1.jpg");
  background-attachment: fixed;
  order: 2;
  min-width: 500px;
  flex: 1;
  overflow: scroll;
  height: 600px;
}

div.main_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  float: left;
}

aside.places{
  margin: 0;
  float: left;
  flex: 1;
  background-color: #eeeeec;
  border-color: #babab4;
  border-width: 2px;
  border-style: solid;
}

ul.places_list{
  width: 77%;
  display: flex;
  flex-direction: column;
}
li.places_list{
    width: 60%;
    align-self: center;
    text-align: center;
    flex: 1;
    text-decoration: none;
    list-style: none;
    border-color: black;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
  }


div.footer_wrapper{
  width: 100%;
  margin-top: 23px;
  align-items: center;
  float: left;
}

html {
  font-size: 11px;
  background-color: #eeeeec;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

table{
  width: 99%;
  padding: 1%;
  font-size: 16px;
}

th{
  padding: 23px;
}

td{
  padding: 23px;
}

h1, h2, h3 {
  font-family: 'Lato';
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 66px;
  text-align: center;
  width: 100%;
  float: left;
}

h2 {
  font-size: 44px;
  text-align: center;
  width: 100%;
  float: left;
}

h3 {
  font-size: 22px;
  text-align: center;
  width: 100%;
  float: left;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
}